:root {
  --text-color: rgb(247, 244, 244);
  --x-color: rgb(126, 119, 119);
  --blue-color: rgb(69, 186, 240);
  --dark-black-color: rgb(19, 19, 19);
  --bg-color-2: rgb(43, 43, 43);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--bg-color-2);
  font-family: Arial, Helvetica, sans-serif;
}

/* styling sideBar  */
.popup-menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 0;
  float: right;
  z-index: 4;
  transition: all 0.4s ease-in;
}

/* .sideHeader, */
.menu {
  display: flex;
  justify-content: right;
  background-color: var(--bg-color-2);
  height: 100%;
  padding-right: 1rem;
}
.menu-list {
  text-align: right;
  list-style: none;
}
.menu-list li {
  padding-top: 40px;
  text-wrap: nowrap;
}
.menu-list li a {
  text-align: right;
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
  font-size: 17px;
  font-family: "Helvetica";
}

.fa-solid {
  font-size: 28px;
  padding-right: 25px;
  padding-top: 25px;
  color: var(--x-color);
}

.invisible {
  visibility: hidden;
  width: 0;
}
.visible {
  width: 62vw;
  transition: all 0.4s ease-in;
}

/* styling header */
header {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 1;
  background-color: rgba(34, 34, 34, 0.95) !important;
  transition: all 0.4s ease-in;
  padding: 10px;

  transition: all 0.2s ease-in;
}

/* styling header to unstick */

.logo {
  z-index: 1;
  display: flex;
  flex-direction: row;
  width: 50%;
  align-items: center;
  text-align: center;
  height: 100%;

  color: var(--text-color);
}
nav {
  display: flex;
  position: relative;
  width: 50%;
  height: 100%;
  visibility: visible;
  justify-content: end;
}

img {
  width: 50px;
  height: 50px;
}

.logo p {
  padding-left: 3px;
  padding-top: 5px;
  font-size: 12px;
  letter-spacing: 0.8px;
}

.logo span {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

.fa-bars {
  color: var(--text-color);
  margin-top: -10px;
  margin-bottom: 15px;
}

.navbar-menu {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  padding-left: 50px;
  display: none;
}
.navbar-menu li {
  list-style: none;
  padding: 2%;
  align-items: center;
  text-wrap: nowrap;
}
.navbar-menu li a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 16px;
  letter-spacing: 0.8px;
}
/* styling Main container */
/*styling informativeContainer */

.image-containers {
  background-image: url("./images/main.png");
  background-position: center center;
  background-size: cover;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
}
.image-containers p {
  font-size: 28px;
  line-height: 1.5;
  font-weight: 900;
  color: var(--text-color);
}
/*styling programReview */
.program-review {
  padding: 35px 20px 35px 20px;
  line-height: 1.3;
  font-size: 28px;
}

.program-review p {
  font-size: 20px;
  font-style: normal;
  font-weight: 550;
  color: var(--text-color);
  letter-spacing: 0.7px;
}
.more {
  padding-top: 40px;
  padding-bottom: 25px;
}
.more-info {
  font-size: 20px;
  color: var(--blue-color);
  text-decoration: none;
  font-weight: 600;
}

/*styling coursesContainer */
.courses-container {
  padding: 20px;
  background-color: var(--dark-black-color);
}
.courses-container h1 {
  font-size: 30px;
  letter-spacing: 0.6px;
  color: var(--text-color);
  font-weight: 100;
  padding-bottom: 25px;
}
.courses {
  display: flex;
  flex-direction: column;
}

.child-course {
  border: 1px solid rgb(73, 73, 73);
  border-radius: 10px;
  margin-bottom: 20px;
}

.child-course img {
  width: 100%;
  height: 180px;
  padding-bottom: 30px;
  border-radius: 10px;
}
.child-course div h4 {
  color: var(--text-color);
  font-weight: lighter;
  font-size: 20px;
  padding-left: 20px;
}
.child-course div p {
  padding-top: 20px;
  font-size: 18px;
  padding-left: 20px;
  color: var(--text-color);
}
.child-course div p a {
  text-decoration: none;
}
.child-course div p a i {
  padding-top: 5px;
  font-size: 20px;

  color: var(--blue-color);
  padding-bottom: 35px;
}
.child-course div p a span {
  color: var(--blue-color);
  text-decoration: none;
}

/* styling a darker screen */
.darker {
  width: 100%;
  background-color: rgba(11, 8, 8, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  transition: all 0.01s ease-in-out;
}

/* styling partners container  for big screen*/

.partners {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px 0px 20px;
  color: var(--text-color);
  font-size: 25px;

  height: 38vh;
}
.partners p {
  width: 52%;
}
.partnersContainer {
  width: 65%;
  height: 100%;
  flex-direction: row;
  position: relative;
  overflow: hidden;
}
.partner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10%;
  width: 100%;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  transition: opacity 1.3s ease-in-out;
}
.partner img {
  width: 20%;
  height: 25%;
  margin-bottom: 5%;
}

.partner-div1 {
  opacity: 0;
}

.partner-div2 {
  z-index: 2;
  opacity: 0;
}

.partner-div3 {
  z-index: 1;
  opacity: 0;
}

.visible-div {
  z-index: 3;
  opacity: 1;
}

.dots {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  bottom: 20%;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  gap: 5px;
  z-index: 4;
}

.dot {
  background-color: var(--text-color);
  height: 8px;
  width: 8px;
  border-radius: 50%;
  margin: 0 8px;
}
.hidden {
  display: none;
}

.directions {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 40%;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  z-index: 10;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
}

.directions i {
  font-size: 35px;
  color: rgb(157, 154, 154);
}
/* styling Q&A */

.questions-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 40px 20px 0px 20px;
  background-color: var(--dark-black-color);
}

.questions-container {
  display: flex;
  justify-content: start;
  flex-direction: row;
  color: var(--text-color);
  font-weight: 500;
  font-size: 22px;
  margin-bottom: 10px;
}

.icon {
  font-size: 12px;
  position: relative;
  margin-top: -20px;
  float: right;
  color: var(--text-color);
}
.question-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 18px;
  padding-bottom: 18px;
}
.question-title p {
  color: var(--text-color);
  font-size: 18px;
}
.answer {
  color: var(--text-color);
  font-size: 16px;
}
.specialAnswer {
  padding: 20px 20px 30px 20px;
}
hr {
  margin-top: 8px;
  height: 0.3px;
  background-color: #343232;
  border: none;
}
.all-questions {
  margin-bottom: 20px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.all-questions a {
  text-decoration: none;
  font-size: 17px;
  color: var(--blue-color);
  font-weight: bolder;
}
.none {
  display: none;
}
